<!DOCTYPE html>
<html>
	<head>
		<title>Resume - Shaun Keys</title>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<style>
			:root {
				--accent-bg: {{.Theme.AccentBg}};
				--accent-text: {{.Theme.AccentText}};
				--text-on-accent: {{.Theme.TextOnAccentColor}};
			}
		</style>
	</head>
	<body>
    	<header>
			<div class="placeholder">
				{{.Name | initials}}
			</div>
			<div class="info">
				<h1>{{.Name}}</h1>
				<hr>
				<h2>{{.Role}}</h2>
			</div>
		</header>
		<sidebar>
			<section>
				<h3>Contact</h3>
				{{range .ContactInfo}}
					<div class="contact-item">
						<strong>{{.Label}}:</strong>
						{{if .Href}}
							<a href="{{.Href}}">{{.Value}}</a>
						{{else}}
							{{.Value}}
						{{end}}
					</div>
				{{end}}
			</section>
			<section>
				<h3>Objective</h3>
				{{.Objective}}
			</section>
			<section>
				<h3>Links</h3>
				{{range .Links}}
					<div class="links-item">
						<strong>{{.Label}}:</strong>
						{{if .Href}}
							<a href="{{.Href}}">{{.Value}}</a>
						{{else}}
							{{.Value}}
						{{end}}
					</div>
				{{end}}
			</section>
			<section>
				<h3>Skills &amp; Experience</h3>
				<ul>
					{{range .Skills}}
						<li>{{.}}</li>
					{{end}}
 				</ul>
			</section>
		</sidebar>
		<article>
			<section class="prof-experience">
				<h3>Professional experience</h3>
				{{range .ProfExperience}}
					<section class="job-entry">
						<h4>{{.CompanyName}}</h4>
						{{range .Roles}}
							<h5>{{.Title}} &bull; {{.StartedAt}}{{if .EndedAt}} - {{end}}{{.EndedAt}}</h5>
						{{end}}
						{{.Description | md}}
					</section>
				{{end}}
			</section>
			<section class="personal-projects">
				<h3>Personal Projects</h3>
				{{range .PersonalProjects}}
				<section class="personal-project">
					<h4>{{.Title}}</h4>
					{{.Description | md}}
				</section>
				{{end}}
			</section>
			<section class="all-education">
				<h3>Certifications &amp; Education</h3>
				{{range .Certifications}}
					<section class="education">
						<h4>{{.Title}} &bull; {{.ValidStart}}{{if .ValidEnd}} - {{end}}{{.ValidEnd}}</h4>
						{{.Description | md}}
					</section>
				{{end}}
			</section>
		</article>
    </body>
</html>
